@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body,
html {
  font-family: 'Poppins', sans-serif;
}

.heading-one,
.heading-two,
.heading-three {
  font-weight: bold;
  margin: 0;
  color: var(--app-font);
}

h1.heading-one {
  font-size: 56px;
}

h2.heading-two {
  font-size: 42px;
}

h5.heading-three {
  font-size: 22px;
}

p.paragraph-text {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 18px;
  color: var(--app-font);
}

.text-center {
  text-align: center;
}