<%- include('../includes/head.ejs') %>
        <div class="card">
            <div class="card-header">
                <h6 class="card-title">
                    <%= planet.name %>
                </h6>
            </div>
            <div class="card-body">
                <p>
                    <%= planet.randomInfo %>
                </p>
            </div>
        </div>
        <%- include('../includes/footer.ejs') %>