<nav class="navigation">
    <div class="navigation-item">
        <a href="/" class="navigation-link">Home</a>
    </div>
    <div class="navigation-item">
        <a href="/planets" class="navigation-link">Planets</a>
    </div>
</nav>