<%- include('./includes/head.ejs') %>
    <h1 class="mb-5 home-title">Artists</h1>

    <div class="artists-container">
        <% for(const artist of artists) {%>
            <div class="card artist-card">
                <div class="card-header">
                    <h5 class="card-title">
                        <%= artist.name %>
                    </h5>
                </div>
                <div class="card-body">
                    <ul>
                        <% for (const song of artist.songs) { %>
                            <li>
                                <%= song.name %>
                            </li>
                            <%} %>
                    </ul>
                </div>
            </div>
            <%} %>

    </div>
    <%- include('./includes/footer.ejs') %>